// @import "mixins";
@import "variables";


nav {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  
  a {
    margin-right: auto;
    text-decoration: none;
    color: black;
    padding: 10px;
  
  img {
    height: 30%;
    object-fit: cover;
    

}
}
}






/*@mixin header {
    @include flex(row, space-between, center);
    height: 58px;
    background-color: $grey;
    

    nav {
        margin-inline: 1rem;
        ul {
            list-style: none;

            li {
                padding:1rem;
            }
        }
        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}*/
