@import "mixins";
@import "variables";


nav {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    a {
        margin-right: auto;
        text-decoration: underline;
        color: black;
        padding: 10px;

        img {
            height: 15px;
            object-fit: scale-down;

            &:hover {
                text-decoration: underline;
            }
        }

        }
    }


    

