// @import "mixins";
@import "variables";


nav {

    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    a {
        margin-right: auto;
        text-decoration: underline;
        color: black;
        padding: 10px;

        &:hover {
            text-decoration: underline;
        }


}
}
}




