@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
   
}


@mixin btnSubmit {
    @include flex(row, center, center);
    border-radius: 2rem;
    background-color: $green;
    height: 38px;
    cursor: pointer;
    color: white;
    transition: .2s;
    &:hover {
        transform: scale(.98);
    }
}

@mixin btnDetail {
    display: block;
    width: fit-content;
    background: $darkGrey;
    border: 0;
    padding: .2rem .6rem;
    color: white;
    font-size: .875rem;
    text-decoration: none;
    transition: .2s;
    &:hover {
        transform: scale(.98);
    }
}